services:
  nginx-uploads:
    build:
      context: .
    ports:
      - "${EXPORTED_PORT:-4444}:80"
    volumes:
      - ${HOST_UPLOADS_PATH}:/srv/public:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost/healthz || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    expose:
      - "80"
    labels:
      - "traefik.http.services.nginx-uploads.loadbalancer.server.port=80"
      - "traefik.http.routers.http-0-rg04osos4448c8w8o408ckoc-nginx-uploads.service=nginx-uploads"
      - "traefik.http.routers.https-0-rg04osos4448c8w8o408ckoc-nginx-uploads.service=nginx-uploads"
