version: "3.8"

services:
  nginx-uploads:
    build:
      context: .
    container_name: nginx_uploads
    ports:
      # Map host port (from .env) to container port (from .env or Dockerfile default)
      - "${HOST_PORT:-80}:80"
    volumes:
      - type: bind
        source: ${HOST_UPLOADS_PATH:-./uploads} # Use HOST_UPLOADS_PATH from .env or default to ./uploads
        target: /srv/uploads
      - type: bind
        source: ${NGINX_CONFIG_PATH:-./nginx} # Use NGINX_CONFIG_PATH from .env or default to ./nginx
        target: /etc/nginx
    restart: unless-stopped
